.navbar{
    list-style: none;
    margin: 0;
    padding: 0;
}
.listNav {
    text-decoration: none;
    display: inline-block;
    background-color:black;
    color: white;

}
ul li a{
    color: white;
    display: block;
    padding: 20px 100px;
    text-decoration: none;
}
ul li a:hover{
background-color: rgba(230, 7, 25, 0.2);
}
